<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Created using
        <b>Angular</b> by
        <b class="has-text-info">Narendra Vaghela</b>
      </p>
      <h2>
        <a class="has-text-info" href="https://www.narendravaghela.com" target="_blank">Contact Me</a>
      </h2>
      <p class="field">
        <a class="button is-small" href="https://github.com/narendravaghela/angular-timestamp" title="View source code on GitHub">
          <span class="icon is-small">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
        <a href="https://bulma.io" title="Made with Bulma">
          <img src="/assets/img/made-with-bulma.png" alt="Made with Bulma" style="height: 27px;width: 128px;" width="128" height="24">
        </a>
      </p>
    </div>
  </div>
</footer>
