<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Created using
        <b>Angular</b> by
        <b class="has-text-info">Narendra Vaghela</b>
      </p>
      <h2>
        <a class="has-text-info" href="https://www.narendravaghela.com" target="_blank">Contact Me</a>
      </h2>
      <p class="field">
        <a class="button is-small" href="https://github.com/narendravaghela/angular-timestamp">
          <span class="icon is-small">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </p>
    </div>
  </div>
</footer>
