<div class="columns is-mobile is-centered">
  <div class="column is-half is-narrow">
    <form [formGroup]="tsForm" (ngSubmit)='onTsSubmit()'>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input is-large" type="number" placeholder="Enter Unix Timestamp" formControlName="timestamp" id="timestamp"
            name="timestamp">
        </div>
        <div class="control">
          <button class="button is-info is-large">
            Convert
          </button>
        </div>
      </div>
    </form>
    <div class="content field is-large has-text-centered">
      OR
    </div>
    <form [formGroup]="dtForm" (ngSubmit)='onDtSubmit()'>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input is-large" type="text" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Select Date & Time" formControlName="datetime"
            id="datetime" name="datetime">
          <owl-date-time #dt></owl-date-time>
        </div>
        <div class="control">
          <button class="button is-info is-large">
            Convert
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="isSubmitted">
  <div class="columns is-mobile is-centered">
    <div class="column is-half is-narrow">
      <div class="content is-large has-text-centered">
        Your result for timestamp
        <b>{{convertedTimestamp.current.current}}</b> is
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <div class="content is-large has-text-centered">
        <h5>Timezone
          <br>
          <strong>{{convertedTimestamp.utc.tz}}</strong>
        </h5>
        <h6>Date & Time
          <br>
          <strong>{{convertedTimestamp.utc.fullDateTime}}</strong>
        </h6>
      </div>
    </div>
    <div class="column">
      <div class="content is-large has-text-centered">
        <h5>Timezone
          <br>
          <strong>{{convertedTimestamp.current.tz}}</strong>
        </h5>
        <h6>Date & Time
          <br>
          <strong>{{convertedTimestamp.current.fullDateTime}}</strong>
        </h6>
      </div>
    </div>
  </div>
</div>
