<div class="content">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="text" placeholder="Enter unix timestamp">
    </div>
    <div class="control">
      <a class="button is-info">
        Convert
      </a>
    </div>
  </div>
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" placeholder="Year">
    </div>
    <div class="control">
      <input class="input" type="text" placeholder="Month">
    </div>
    <div class="control">
      <input class="input" type="text" placeholder="Day">
    </div>
    <div class="control">
      <input class="input" type="text" placeholder="Hours">
    </div>
    <div class="control">
      <input class="input" type="text" placeholder="Minutes">
    </div>
    <div class="control">
      <input class="input" type="text" placeholder="Seconds">
    </div>
    <div class="control">
      <a class="button is-info">
        Convert
      </a>
    </div>
  </div>
</div>
