<section class="section">
  <app-header></app-header>
  <div class="container has-text-centered">
    <h1 class="title">
      Hello Angular
    </h1>
    <p class="subtitle">
      My first angular project with
      <strong>Bulma</strong>!
    </p>
    <div class="columns is-desktop">
      <div class="column">
        <app-current></app-current>
      </div>
      <div class="column">
        <app-converter></app-converter>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
