<div class="columns is-centered">
  <div class="column">
    <div class="content is-large has-text-centered has-text-grey">
      <hr> Current timestamp is
      <b>{{currentTimestamp.current.current}}</b>
    </div>
  </div>
</div>
<div class="columns is-multiline">
  <div class="column is-half">
    <div class="content is-large has-text-centered">
      <h5 class="has-text-grey">Timezone
        <br>
        <b>{{currentTimestamp.utc.tz}}</b>
      </h5>
      <h6 class="has-text-grey">Date & Time
        <br>
        <b>{{currentTimestamp.utc.fullDateTime}}</b>
      </h6>
    </div>
  </div>
  <div class="column is-half">
    <div class="content is-large has-text-centered">
      <h5 class="has-text-grey">Timezone
        <br>
        <b>{{currentTimestamp.current.tz}}</b>
      </h5>
      <h6 class="has-text-grey">Date & Time
        <br>
        <b>{{currentTimestamp.current.fullDateTime}}</b>
      </h6>
    </div>
  </div>
</div>
